<div class="banda">
    <div class="ancho">
        <div class="logo">
            <p><a href="/">Federico Buzzoni</a></p>
        </div>
        <nav>
            <ul>
                <li><a>Módulo administración</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="ingreso">

    <h1>Log in</h1>

    <div class="grid">
        <div class="uno">
            <form action="/admin/login" class="formulario" method="post">
                <div class="form-group">
                    <p><label>Usuario</label><input type="text" class="form-control" placeholder=""
                            name="usuario"></input></p>
                </div>
                <br>
                <div class="form-group">
                    <p><label>Password</label><input type="password" class="form-control" placeholder=""
                            name="password"></input></p>
                </div>
                <br>
                {{#if error}}
                <p>Usuario o clave incorrecta.</p>
                {{/if}}
                <br>
                <p class="centrado"><button type="submit" class="btn btn-primary">Entrar</button></p>
            </form>
       </div>
    </div>
</div>

<footer>
    <div class="bandafooter">
        <div class="anchofooter">
            <p>Desarrollado por Federico Buzzoni. 2021</p>
        </div>
    </div>
</footer>