<div class="banda">
    <div class="ancho">
        <div class="logo">
            <p><a href="/">Federico Buzzoni</a></p>
        </div>
        <nav>
            <ul>
                <li><a>Módulo administración</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="ingreso">
    <h1>Log in</h1>
    <div class="grid">
        <div class="uno">
            <p> Hola {{usuario}}!</p>
            <br>
            <p><a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar
                    Sesión<i class="fa fa-sign-out"></i></a></p>
        </div>
    </div>
</div>

<footer>
    <div class="bandafooter">
        <div class="anchofooter">
            <p>Desarrollado por Federico Buzzoni. 2021</p>
        </div>
    </div>
</footer>