::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	}

.ingreso{
    margin-top: 70px;
    /* background-color: whitesmoke;  */
	background: url(../images/ntpescalera.jpg);
	float: left;
	width: 100%;
	height: auto;
	background-repeat:no-repeat; /* No se repetira */
	background-size:cover; /* Imagen al 100% del ancho */
	background-attachment: fixed; /* Posicion fija para la imagen */
	text-align: center;
	overflow: auto;
	align-items: center;
}

.ingreso h1{
	color:whitesmoke;
    font-size: 60px;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	}

.labelcomentario {
    vertical-align: top;
}

.centrado{
    text-align: center;
}

.grid {
max-width: 300px;
display: flex;
margin: 0 auto; /*centro uno y dos*/
padding: 40px;
border-radius: 10px; /* agrega circunferencia a los bordes del contenedor*/
box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; /* sombra del contenedor */
background-color: whitesmoke;
margin-bottom: 200px;
opacity: 95%;
}

.uno{
	/*padding-right: 0px;*/
	width: 100%;
	text-align: left;
}

.formulario label{
	width: 30%;
	display: inline-block;
}

.formulario input,
.formulario textarea{
	border-radius: 5px;
	border: 1px solid #999;
	padding: 0.4em 0.4em;
	width: 90%;
}

